<div class="section hero">
    <div class="container">
      <h3 class="section-heading">{{ .Site.Params.herotitle}}</h3>
      <a class="button button-primary" href="{{ .Site.Params.herolink}}">{{ .Site.Params.herolinktext}}</a>
      
			<br>
      <a class="button" style="color:rgb(253, 130, 121)" href="{{ .Site.Params.insta}}">Instagram</a>
      <a class="button" style="color:rgb(255, 251, 250)" href="{{ .Site.Params.github}}">Github</a>
      <a class="button" style="color:rgb(112, 126, 250)" href="{{ .Site.Params.linkedIn}}">LinkedIn</a>

      <!-- More social links -->
      <!-- <a class="button" style="color:rgb(112, 126, 250)" href="{{ .Site.Params.facebook}}">Facebook</a>
      <a class="button" style="color:rgb(148, 217, 238)" href="{{ .Site.Params.twitter}}">Twitter</a>
      <a class="button" style="color:rgb(253, 130, 121)" href="{{ .Site.Params.youtube}}">Youtube</a>
      <a class="button" style="color:rgb(255, 251, 250)" href="{{ .Site.Params.github}}">Github</a>
      <a class="button" style="color:rgb(132, 241, 214)" href="{{ .Site.Params.email}}">Email</a> -->
    </div>
  </div>